<ion-list>
  <ion-item *ngFor="let pokemon of pokemon">
    <ion-label id="open-modal{{pokemon.id}}" expand="block">Pokemon = {{pokemon.name}}</ion-label>
  </ion-item>
</ion-list>

<ion-content *ngFor="let poke of pokemon">
  <ion-modal trigger="open-modal{{poke.id}}">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>{{poke.name}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <img src="{{poke.sprites.front_default}}">
        <ion-item>
          <ion-label>Id = {{poke.id}}</ion-label>
        </ion-item>
        <ion-item>  
          <ion-label>Height = {{poke.height}}cm</ion-label>
        </ion-item>
        <ion-item>  
          <ion-label>Weight = {{poke.weight}}gr</ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
